@page "/players"
@using Shuttle.Models.Players

<PageTitle>Players</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="16">
    <FluentText Size="TextSize.Size700" Weight="TextWeight.Bold">Players</FluentText>

    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="8" VerticalAlignment="VerticalAlignment.Center">
        <FluentText>Jump to a player:</FluentText>
        <FluentAutocomplete TOption="PlayerSuggestion"
                            TValue="string"
                            Width="320px"
                            Placeholder="Search by name or username"
                            OnOptionsSearch="OnJumpSearch"
                            OptionText="@(p => $"{p.Name} ({p.Username})")"
                            OptionValue="@(p => p.PlayerId.ToString())"
                            SelectedItem="jumpSelection"
                            SelectedItemChanged="OnJumpSelected"/>
    </FluentStack>

    <PlayerSearchFilters OnSearch="OnSearch" OnReset="OnReset" Busy="loading" Initial="query"/>

    @if (errorMessage is not null) {
        <FluentText Color="Color.Error">@errorMessage</FluentText>
    }

    <div class="players-pager">
        <FluentPaginator State="pagination" CurrentPageIndexChanged="OnPageChanged"/>
    </div>

    <PlayerCardTable Players="results"
                     Loading="loading"
                     SortField="query.SortBy"
                     SortDescending="query.SortDescending"
                     SortChanged="OnSortChanged"/>

    <div class="players-pager">
        <FluentPaginator State="pagination" CurrentPageIndexChanged="OnPageChanged"/>
    </div>
</FluentStack>
