@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        Authorized!
        <a href="/.auth/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        Not Authorized!
        <a href="/.auth/login/aad?post_login_redirect_uri=/">Login</a>
    </NotAuthorized>
</AuthorizeView>