@namespace Shuttle.WebClient.Components

@if (visible) {
    <div style="position: absolute; inset-block-end: 0; inset-inline-start: 0; inset-inline-end: 0; z-index: 2000; pointer-events: none;">
        <FluentProgressBar />
    </div>
}
